* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
}

/****** header section ******/
.header-section {
    display: flex;
    height: 500px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 90px;

}

.header-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
}

.header-img {
    width: 400px;
    height: 500px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border: 0;
}

/***** Featured Section *****/

.section-title {
    color: #181818;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.section-text {
    color: #757575;
    text-align: center;
    font-size: 20px;
    margin: 30px 0;
}

.section-img {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    margin: 80px auto;
    max-width: 1140px;
    
}

.feat-box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    width:250px;
    height: 330px;
    padding: 50px 50px 0px;
}
.feat-img {
    width: 200px;
    height: 320px;
    padding: 10px 10px 0px;
}

#feat-bg-1 {
    background: rgba(167, 33, 98, 0.15);
}

#feat-bg-2 {
    background: rgba(5, 151, 160, 0.15);
}

#feat-bg-3 {
    background: rgba(71, 125, 17, 0.15);
}

.img-cap {
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

/***** Support Section *****/
.support-section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 30px;
    max-width: 1140px;
    margin: 100px auto;
    height: 180px;

}

.Support-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

/***** Offer Section *****/
.offer-section {
    display: flex;
    margin-top: 100px;
    padding: 150px 220px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.offer-img {
    width: 250px;
    height: 350px;
}

/***** Glass Vase Flowers *****/
.vase-container{
    display: flex;
    gap: 10px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    max-width: 900px;
}

.vase-box{
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 40px auto;
   
}

.vase-img{
    width:300px;
   padding: 10px;
}

/***** Instagram Section *****/
.instra-img {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    height: 300px;
    margin: 80px auto;
    max-width: 1140px;
}

/***** Subscribe Section *****/
.subscribe-section {
    background-image: url(../images/Rectangle\ 9.png);
    background-size: cover;
    border-radius: 8px;
    height: 400px;
    max-width: 1140px;
    margin: 100px auto;
    padding-top: 2px;
}

.subscribe-email {
    padding: 25px 45px;
    color: #757575;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 450px;
    margin: 0 30px 10px 270px;
}
span{
    color: #E55473;
}
/***** Footer Section *****/
footer {
    background: #111010;
    height: 350px;
    color: white;
    padding-top: 2px;
}

#footer-title{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;
}
#footer-text{
    text-align: center;
    font-size: 15px;
    margin: 30px 0;
    color: rgb(165, 165, 165);
}